@font-face {
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: Roboto;
}
@font-face{
	font-family: 'Moonb';
	src: url('../fonts/MoonBold.otf');
}
@font-face{
	font-family: 'Moonl';
	src: url('../fonts/MoonLight.otf');
}
.blue-font{
	background-color: #0F4C61;
}
.blue{
    color: #0F4C61;
}
.white{
    color: white;
}
.moonb{
    font-family: Moonb;
}
.inline{
    display: inline;
}
.psize{
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.nmb{
    margin-bottom: 0 !important;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}

/* Extra Small Devices, Phones */
@media screen and (min-width : 10px) {
    body{
        font-size: 1.2em;
    }
    .jumbotron p{
        font-size: 15px;
    }
    #footer p{
        font-size: 0.8em;
    }

}
/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.3em;
    }
    .jumbotron > h1{
        font-size: 3em;
    }
    .fa-2x{
        font-size: 1.5em;
    }
    #loisirs .fa-2x{
        font-size: 2em;
    }
    #footer p{
        font-size: 1.2em;
    }
    .jumbotron p{
        font-size: 13px;
    }
}
/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.5em;
    }
    .jumbotron p{
        font-size: 14px;
    }
}
/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.7em;
    }
    .jumbotron p{
        font-size: 18px;
    }
}